    body {
    height: 100vh;
}

a {
    display: inline-block;
}

.carousel-wrap a span:hover {
    color: rgba(146, 125, 255, 0.3);
    font-weight: 300;
}

.carousel-wrap {
    position: relative;
    display: inline-block;
    #prev {
        transform: rotate(-90deg);
    }
    #next {
        transform: rotate(90deg);
    }
    .carousel-btn {
        cursor: pointer;
        color: #c3cfe5;
        border-radius: 100px;
        font-size: 90px;
    }